# Cocos Creator generated folders
library/
temp/
local/
profiles/

# Dependencies
node_modules/

# Build cache
native/

# Editor and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary build output
build/